body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.result {
    height: fit-content;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

    &>img {
        height: 80px;
    }

    & .twoDice .highlight {
        border: 2px solid green;
        border-radius: 5px;
    }
}

.finalScore {
    width: 100%;
    text-align: center;
    margin-top: 20px;

    & .highlight {
        font-weight: bold;
        color: green;
    }
}

.twoDice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;

    gap: 10px;
}