:root {
    --foreground-color: #ffffff;
    --background-color: #1d1d1d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.pokemon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
